[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
jupyter = "*"
tox = "*"
coverage = "*"
pylava = "*"
autopep8 = "*"
rope = "*"

[packages]
selenium = "*"
requests = "*"
pylava = "*"
python-datauri = "*"

[requires]
python_version = "3.7"
